.background{
    background-image: url('https://res.cloudinary.com/dhx8hti8b/image/upload/v1665997321/shortURL_viwzzo.png');
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 400px;
    margin-top: 200px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color:rgb(0, 102, 255);
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
}

.button:hover{
scale: 1.1;
}

@media only screen and (max-width: 700px) {

    .background{
        background-image: url('https://res.cloudinary.com/dhx8hti8b/image/upload/v1665997321/shortURL_viwzzo.png');
        background-repeat: no-repeat;
        background-size: 60%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-left: 60%;
    }

}